fastapi
kafka-python
sqlalchemy
alembic
psycopg2-binary  # Для работы с PostgreSQL в SQLAlchemy
yookassa  # Официальная библиотека для Yoomoney в Python
oauthlib
pyjwt

# Библиотеки для ML
# catboost
# scikit-learn
# pandas