# Основные зависимости
fastapi                 # Веб-фреймворк для создания API
uvicorn[standard]       # ASGI-сервер для FastAPI
sqlalchemy              # ORM для работы с базой данных
alembic                 # Инструмент миграции базы данных для SQLAlchemy
psycopg2-binary         # Драйвер для работы с PostgreSQL
pandas                  # Библиотека для анализа данных
scikit-learn            # Библиотека для машинного обучения
catboost                # Библиотека градиентного бустинга для ML

# Безопасность и авторизация
oauthlib                # Библиотека для реализации OAuth
PyJWT                   # JSON Web Tokens (JWT) для авторизации
yoomoney                # SDK для интеграции Yoomoney

# Инструменты разработки и тестирования
pytest                  # Фреймворк для тестирования
flake8                  # Линтер для проверки стиля кода
bandit                  # Статический анализ безопасности для Python
safety                  # Проверка уязвимостей в зависимостях
jinja2>=3.1.5